body {
    color: #BBE1FA;
    background-color: #11191c;
}

h1 {
    text-align: center;
    margin-top: 0;
}

button {
    border-radius: 0.5rem;
    color: inherit;
    padding: 0.5rem 0.4rem;
    background-color: #0F4C75;
    border: solid 2px black;
}

button[disabled] {
    background-color: #2f5e9b;
}

button:hover {
    cursor: pointer;
}

select {
    border-radius: 0.5rem;
    color: inherit;
    padding: 0.5rem 0.4rem;
    background-color: #0F4C75;
    border: solid 2px black;
}

hr {
    height: 1px;
    background-color: #3282B8;
    border: none;
}

@media (min-width: 600px) {
    .main-container {
        display: flex;
        justify-content: center;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0.7rem 0;
    min-width: 8rem;
}

.sudoku-controller {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    min-width: min-content;
}

.main-card {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1B262C;
    border: solid black 2px;
}

.sudoku-board {

}

.sudoku-board table {
    border-spacing: 0;
}

.sudoku-board td {
    padding: 0;
}

.sudoku-board td .cell-base {
    height: 2.5rem;
    width: 2.5rem;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    background-color: #0F4C75;
}

.sudoku-board td .cell-base.highlighted {
    background-color: #750f0f;
}

.sudoku-board .block-row-start .cell-base {
    margin-top: 0.7rem;
    border-top: solid 2px black;
}

.sudoku-board .block-col-start .cell-base {
    margin-left: 0.7rem;
    border-left: solid 2px black;
}

.cell-number {
    text-align: center;
    line-height: 2.5rem;
}

.sudoku-board td.hidden .cell-base {
    border: none;
    background: none;
}

.sudoku-cell {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background-color: inherit;
}

.sudoku-cell:focus {
    border: none;
    outline: solid #4b9fd5 2px;
    background-color: #1F78B4;
}